:root {
    --color-background: #FFFFFF;
    --color-background-rose: #FAFAFA;
    --color-background_top-rose: #F1E4E6;
    --color-black: #000000;
    --color-text-rose: #F16D7F;
    --color-grey: #E8E8E8;
    --color-dark-grey: #222222;
    --color-products-text-grey: #9F9F9F;
    --color-products-text-light-grey: #5D5D5D;
    --color-products-background: #F8F8F8;
    --color-text-feature: #FBFBFB;
    --color-button-text: #F26376;
    --color-button-border: #FF6A6A;
    --color-background-sub: #E1E1E1;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.content_container {
    position: relative;
    overflow: hidden;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    /* max-width: 1600px; */
    min-height: 75px;
    background-color: var(--color-dark-grey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 33px;
}

.sec_top {
    display: flex;
    align-items: center;
    background: var(--color-background_top-rose);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.img_top {
    max-width: 50%;
}

.rose_border {
    border-left: 12px solid var(--color-text-rose);
    padding-left: 16px;
}

.text_top {
    max-width: 50%;
    padding-left: 64px;
}

.title_top {
    font-style: normal;
    color: var(--color-dark-grey);
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.text_color_rose {
    color: var(--color-text-rose);
}

.p_top {
    font-style: normal;
    color: var(--color-dark-grey);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.sec_offer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.offer_block {
    position: relative;
}

.offer_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large_block {
    min-height: 180px;
    grid-column: 1 / -1;
}

.p_offer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-background);
}

.title_offer {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--color-text-rose);
}

.sec_products {
    padding-bottom: 48px;
}

.sec_products_head {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--color-dark-grey);
}

.sec_products_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: var(--color-products-text-grey);
}

.product_blocks {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
}

.product {
    position: relative;
    transition: all ease-in-out 0.3s;
}

.add_to_cart {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 139px;
    height: 44px;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
}

.product_img {
    filter: brightness(1);
    transition: all ease-in-out 0.3s;
}

.product:hover .product_img {
    filter: brightness(0.2);
}

.product:hover .add_to_cart {
    visibility: visible;
    opacity: 1;
}

.product_text {
    background: var(--color-products-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -4px;
    padding: 24px 16px;
    gap: 16px;
}

.title_product {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-black);
}

.p_product {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-products-text-light-grey);
}

.product_price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text-rose);
}

.button {
    width: 212px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-button-text);
    border: 1px solid var(--color-button-border);
    transition: all ease-in-out 0.3s;
}

.button:hover {
    background-color: var(--color-button-text);
    color: var(--color-background);
}

.browse_all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.sec_feature {
    display: flex;
    align-items: center;
    background: var(--color-dark-grey);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    color: var(--color-text-feature);
    padding-bottom: 48px;
}

.feature_block {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.feature {
    position: relative;
    text-align: center;
    
}

.title_feature {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px
}

.p_feature {
    padding: 0 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.sec_subscribe {
    display: flex;
    align-items: center;
    height: 448px;
    background-image: url(img/subscribe/subscribe.jpg);
    background-size: cover;
    background-position: center;
}

.subscribe_block {
    display: grid;
    grid-template-columns: 360px;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.subscribe {
    position: relative;
    text-align: center;
}

.title_sub {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px
}

.p_sub {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 44px;
}

.form_field {
    width: 256px;
    height: 49px;
    border: none;
    background-color: var(--color-background-sub);
    color: var(--color-dark-grey);
    font-size: 14px;
    padding-left: 16px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: -4px;
}

.button_sub {
    width: 100px;
    height: 49px;
    border: none;
    background-color: var(--color-text-rose);
    color: var(--color-background);
    font-size: 14px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sec_footer {
    min-height: 79px;
    background-color: var(--color-dark-grey);
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: var(--color-text-feature);
}

.s_icon {
    background-color: var(--color-background);
    color: var(--color-button-text);
    transition: all ease-in-out 0.3s;
}

.s_icon:hover {
    background-color: var(--color-button-text);
    color: var(--color-background);
}

@media (max-width: 1024px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .sec_offer {
        gap: 20px;
    }

    .large_block {
        min-height: auto;
        grid-column: 1 / -1;
    }

    .product_blocks {
        grid-template-columns: repeat(auto-fit, 360px);
        gap: 16px;
    }
}

@media (max-width: 767px) {

    .login_icon {
        display: none;
    }
    .cart_icon {
        display: none;
    }
    
    .img_top {
        display: none;
    }

    .sec_top {
        height: 363px;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .text_top {
        padding: 0;
    }

    .title_top {
        font-size: 38px;
        line-height: 1;
    }
    .p_top{
        font-size: 20px;
        line-height: 1;
    }

    .rose_border {
        width: 236px;
    }

    .sec_offer {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

}